<link href="main.css" rel="stylesheet" type="text/css" />
<h2>Направления</h2>
<div class="content">
<table class="content" width="75%" border="0" align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td width="50%"><h3>Механизмы, часть 1</h3>
    <p>Рассчитан на возраст 4-5 лет</p></td>
    <td width="50%" valign="top"><h3>Механизмы, часть 2</h3>
    Рассчитан на возраст 6-8 лет</td>
  </tr>
  <tr>
    <td><h3>Азы робототехники, часть 1</h3>
    <p>Рассчитан на возраст 7-9 лет</p></td>
    <td><h3>Азы робототехники, часть 2</h3>
    <p>Рассчитан на возраст от 9 лет</p></td>
  </tr>
  <tr>
    <td><h3>Программирование</h3>
    <p>Рассчитан на возраст от 10 лет</p></td>
    <td><h3>3D-моделирование</h3>
    <p>Рассчитан на возраст от 11 лет</p></td>
  </tr>
  <tr>
    <td><h3>Программирование микроконтроллеров</h3>
    <p>Рассчитан на возраст от 13 лет</p></td>
    <td>&nbsp;</td>
  </tr>
</table></div>
<p>&nbsp;</p>