{% extends "base.html" %}
{% block title %}
Создание студента
{% endblock %}
{% block style %}
	{% include "main.css" %}
{% endblock %}
{% block menu %}
	{% include "top-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/create-student/">Создать студента</a>
		</li>
		<li>
			<a href="/add-student/">Добавить студента на курс</a>
		</li>
	</div>
    <h3>Список студентов</h3>
    <div>

        {% for item in objects_list %}
        <li>
            {{item.name}}
            {% for course in item.courses %}
                {{course.name}}
            {% endfor %}
        </li>
        {% endfor %}
    </div>
{% block bottom %}
	{% include "bottom_menu.html" %}
{% endblock %}
{% endblock %}