<link href="main.css" rel="stylesheet" type="text/css">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" bgcolor="#666666">
    	<h1>LegoCode</h1>
    </td>
    <td bgcolor="#FF9900" class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/calendar/">Расписание</a></li>
        <li><a href="/direction/">Направления</a></li>
        <li><a href="/contacts/">Контакты</a></li>
        <li><a href="/about/">О проекте</a></li>
        <li><a href="/courses/">Курсы</a></li>
		<li><a href="/student-list/">Студенты</a></li>
    </td>
  </tr>
</table>
<hr>